/* 样式的初始化 */
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
figure,
hr,
menu,
dir,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
  list-style-image: none;
}
a {
  text-decoration: none;
}
a:active {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0 none;
}
a:focus {
  outline: 1px dotted;
}
body {
  font-size: 14px;
  line-height: 1.8;
}
.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.wp-inner {
  overflow: hidden;
}
/* 第一页 首页效果 */
.first {
  position: relative;
}
.first .first-bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/n00/home.png") no-repeat center;
  background-size: 100% 100%;
}
.first .card {
  position: absolute;
  width: 285px;
  font-family: FZSHHJW--GB1-0;
  font-size: 0.70666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.93333333rem;
  letter-spacing: -1px;
  color: #142142;
  left: 3.13333333rem;
  bottom: 3.41333333rem;
  opacity: 0;
}
/* 第一页触发后效果 cur */
.cur .first-bg {
  transition: all 3s cubic-bezier(0, 0, 0, 0.99);
  top: 0;
}
.cur .card {
  transition: all 3.2s 1s ease-out;
  opacity: 1;
}
/* 第二屏效果 */
.second,
.third {
  position: relative;
  overflow: hidden;
}
.second .second-bg,
.third .second-bg,
.second .third-bg,
.third .third-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/n01/background.png") no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
}
.second .second-t-l,
.third .second-t-l,
.second .third-t-l,
.third .third-t-l {
  position: absolute;
  top: -7.54666667rem;
  left: 0;
  width: 100%;
  height: 7.54666667rem;
  background: url("../img/n01/bg-t-l.png") no-repeat center;
  background-size: 100% 100%;
}
.second .second-t-r,
.third .second-t-r,
.second .third-t-r,
.third .third-t-r {
  position: absolute;
  width: 4.78666667rem;
  height: 3.93333333rem;
  top: 1.98666667rem;
  right: -4.78666667rem;
  background: url("../img/n01/bg-t-r.png") no-repeat center;
  background-size: 100% 100%;
}
.second .second-b-l,
.third .second-b-l,
.second .third-b-l,
.third .third-b-l {
  position: absolute;
  width: 4.70666667rem;
  height: 3.49333333rem;
  left: -4.70666667rem;
  bottom: 0;
  background: url("../img/n01/bg-b-l.png") no-repeat center;
  background-size: 100% 100%;
}
.second .second-b-r,
.third .second-b-r,
.second .third-b-r,
.third .third-b-r {
  position: absolute;
  width: 7.84rem;
  height: 3.89333333rem;
  bottom: -3.89333333rem;
  right: 0;
  background: url("../img/n01/bg-b-r.png") no-repeat center;
  background-size: 100% 100%;
}
.second .second-info,
.third .second-info {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 2.8rem;
  transform: translateX(-50%);
  width: 7.24rem;
  height: 7.33333333rem;
  font-family: FZSHHJW--GB1-0;
  font-size: 0.42666667rem;
  font-weight: 600;
  font-stretch: normal;
  line-height: 0.93333333rem;
  letter-spacing: 0px;
  color: #142142;
  /* 信息列表效果 */
}
.second .second-info .portrait,
.third .second-info .portrait {
  position: absolute;
  width: 2.32rem;
  height: 2.32rem;
  right: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
  border: 3px solid #142142;
  border-radius: 5px;
}
.second .second-info ul,
.third .second-info ul {
  position: absolute;
  height: 0;
  width: 7.24rem;
  overflow: hidden;
  text-align-last: left;
}
.second .second-info ul li,
.third .second-info ul li {
  position: relative;
  overflow: hidden;
}
.second .second-info ul li > span,
.third .second-info ul li > span {
  font-weight: 400;
  opacity: 0;
}
@keyframes rotate-l {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(3deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
/* 第二屏触发后效果 cur */
.cur .second-bg,
.cur .third-bg {
  transition: all 1s cubic-bezier(0.4, 0, 1, 0.99);
  opacity: 1;
}
.cur .second-t-l,
.cur .third-t-l {
  transition: all 0.5s cubic-bezier(0, 0, 0.29, 1.04);
  top: 0;
  left: 0;
}
.cur .second-t-r,
.cur .third-t-r {
  right: -0.26666667rem;
  transform-origin: 100% 80%;
  transition: all 1.2s 0.5s cubic-bezier(0, 0, 0.29, 1.04);
  animation: rotate-l 4s 1.7s ease-out infinite alternate;
}
.cur .second-b-l,
.cur .third-b-l {
  left: -0.42666667rem;
  bottom: -0.33333333rem;
  transform-origin: 0% 100%;
  transition: left 1.2s 0.5s cubic-bezier(0, 0, 0.29, 1.04);
  animation: rotate-l 4s 1.7s ease-out infinite alternate;
}
.cur .second-b-r,
.cur .third-b-r {
  transition: all 0.3s 1s cubic-bezier(0, 0, 0.29, 1.04);
  bottom: 0;
}
.cur .second-info ul {
  transition: all 4s ease-out;
  height: 7.33333333rem;
}
.cur .second-info ul li span {
  opacity: 1;
}
.cur .second-info ul .info-name {
  transition: all 4s 1s ease-out;
}
.cur .second-info ul .info-post {
  transition: all 5s 1s ease-out;
}
.cur .second-info ul .info-units {
  transition: all 6.5s 1s ease-out;
}
.cur .second-info ul .info-phone {
  transition: all 7s 1s ease-out;
}
.cur .second-info ul .info-mail {
  transition: all 8.5s 1s ease-out;
}
.cur .second-info ul .info-tel {
  transition: all 9s 1s ease-out;
}
.cur .second-info ul .info-url {
  transition: all 10.5s 1s ease-out;
}
.cur .second-info ul .info-site {
  transition: all 11s 1s ease-out;
}
/* 第三屏效果 */
/* 第四屏效果 */
.fourth {
  position: relative;
  overflow: hidden;
}
.fourth .fourth-t {
  position: absolute;
  top: -70%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: url("../img/n03/bg-t.png") no-repeat center;
  background-size: 100% 100%;
}
.fourth .fourth-b {
  position: absolute;
  bottom: -70%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: url("../img/n03/bg-b.png") no-repeat center;
  background-size: 100% 100%;
}
.fourth .fourth-code {
  position: absolute;
  width: 3.49333333rem;
  height: 3.49333333rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/n03/code.png") no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
}
/* 第四屏触发后效果 cur */
.cur .fourth-t {
  transition: all 2s ease-in-out;
  top: -5%;
  transform-origin: 50% 50%;
  animation: rotate-l 15s 2s ease-out infinite alternate;
}
.cur .fourth-b {
  transition: all 2s ease-in-out;
  bottom: -5%;
  transform-origin: 50% 50%;
  animation: rotate-l 15s 2s ease-out infinite alternate;
}
.cur .fourth-code {
  transition: all 1.5s 2s ease-in-out;
  opacity: 1;
}
